<div>
  <h1>Welcome to Product Client API</h1>
  <h2><a routerLink="/register">Register</a><br></h2>
  <h2><a routerLink="/login">Login</a><br></h2>
  <h2><a routerLink="/home">Home Dashboard</a><br></h2>
	<h2><a routerLink="/aboutproduct">About Product</a><br></h2>
  <h2><a routerLink="/contactusproduct">Contact Us</a><br></h2>
  <!--
  <h2><a routerLink="/getoneproduct">Get One Product</a><br></h2>
  <h2><a routerLink="/getallproduct">Get All Product</a><br></h2>
  <h2><a routerLink="/postproduct">Post Product</a><br></h2>
  <h2><a routerLink="/putproduct">Put Product</a><br></h2>
  <h2><a routerLink="/deleteproduct">Delete Product</a><br></h2>
  -->
	<hr>
	<!-- Content will be changed based on path-->
	<router-outlet></router-outlet>
</div>
